.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem 3rem;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 10vh;
  left: calc(50% - 15rem);
  right:calc(50% - 15rem) ;
}
.colorsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  font-size: 14px;
  color: rgb(151, 147, 147);
}
.container{
  padding: -20px -6px;
  width: 100%;
}
.btn {
  font-size: 10px;
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
}
.btnSave {
  font-size: 10px;
  margin: 10px;
  padding: 10px 20px;
  background-color:rgb(32,114,239);
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
dt{
  color: blue;
  font-size: 10px;
}
h5{
  color: black;
}