body {
  font-family: sans-serif;
  background-color: rgb(248, 248, 248);
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

.page-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 10px;
  
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #1733b3;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}
.btn--alt {
  background-color: transparent;
  color: #0c32b1;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
